.btn {
  border-radius: 6px; }

.vertical-white-line {
  margin-right: 30rem;
  margin-left: 30rem;
  border-right: 5px solid #E4E6EB;
  border-left: 5px solid #E4E6EB; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  background-color: #18191A;
  font-size: 62.5%;
  color: #E4E6EB;
  width: 100%;
  overflow-x: hidden;
  -webkit-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
  background-attachment: fixed;
  -webkit-background-position: center center;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover; }

body {
  overflow-x: hidden;
  background-color: #18191A;
  font-family: "Nunito", sans-serif; }

.cta-paragraph {
  font-size: 4rem; }

.base-p-color {
  color: #E4E6EB; }

.sub-title {
  font-size: 3rem; }

.book-title {
  font-size: 2.2rem; }

.book-description-text {
  font-size: 1.8rem; }

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .hero-section__title {
    padding: 3rem;
    font-family: "Akaya Telivigala", cursive;
    font-size: 5rem; }
  .hero-section__cta {
    margin-top: 40px; }
    .hero-section__cta__btn:hover {
      color: #18191A; }

.references-section {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left; }
  .references-section__title {
    margin-top: 4rem; }

.books-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .books-section__bookName {
    display: block;
    margin-left: 6rem; }
  .books-section__bookDescrition {
    display: block;
    margin-left: 6rem; }
