// COLORS


$color-white: #E4E6EB;
$color-black: #18191A;


// FONT
$default-font-size: 1.6rem;
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
$font-title: 'Akaya Telivigala', cursive;;

