.references-section{
    margin-top:0;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;   
 

    &__title{   
        margin-top: 4rem;     
    }
}