.books-section{

    display:flex;
    flex-direction: column;
    justify-content:flex-start; 
    padding-top: 6rem;


    &__bookName{
        display: block;
        margin-left: 6rem;
            &__title{ 
                font-weight: bold;
        }

    }

    &__bookDescrition{
        display: block;
        margin-left:6rem;
        margin-right: 3rem;
    }
}