*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: $color-black;
    font-size: 62.5%;
    color: $color-white;
    width:100%;
    overflow-x: hidden;   
    -webkit-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
    -webkit-background-position: center center;
    background-position: center center;
    -webkit-background-size: cover;
    background-size:cover;
    
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
    
}


body {
 
    overflow-x: hidden;
    background-color: $color-black;
    font-family: $font-primary;
   
}