
.cta-paragraph{
    font-size: 4rem; 
}

.base-p-color{
    color: $color-white;
}

.sub-title{
    font-size: 3rem;
}
.book-title{
     font-size: 2.2rem;
}
.description-text{
     font-size: 1.8rem;
}